{% extends 'base.html' %}
{% block title %}Add hours{% endblock %}

{% block content %}

    <h2 class="text-center text-uppercase">Add hours</h2>

    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <div class="col-md-10 offset-md-1 my-4">
                <form method="POST" class="was-validated mt-4" action="{{ url_for('views.hours') }}">
                    <div class="row mb-3">
                            {{ form.amount.label(for="amount", class_="col-sm-4 col-form-label") }}
                            <div class="col-sm-8">
                            {{ form.amount(class_="form-control", id="amount", required="required", placeholder="e.g. 5") }}
                            <div class="invalid-feedback">
                                This field must be filled!
                            </div>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        {{ form.work_date.label(for="work-date", class_="col-sm-4 col-form-label") }}
                        <div class="col-sm-8">
                            {{ form.work_date(class_="form-control", id="work-date") }}
                            <small class="form-text text-muted">If it is empty, the current date will be saved. </small>
                        </div>
                    </div>
                    <div class="row mb-3">
                        {{ form.shortcut.label(for="shortcut", class_="col-sm-4 col-form-label") }}
                        <div class="col-sm-8">
                            {{ form.shortcut(class_="form-control", id="shortcut") }}
                        </div>
                    </div>
                    {{ form.confirm_button(class_="btn btn-success float-end mb-2 text-uppercase") }}
                </form>
            </div>
        </li>
    </ul>

    <div class="col-md-10 offset-md-1 my-5">
        <table class="table table-striped caption-top table-light table-bordered">
          <caption class="text-uppercase">List of projects</caption>
          <thead class="table-dark">
            <tr>
                <th scope="col" style="width:40%">Project shortcut</th>
                <th scope="col" style="width:25%">Date</th>
                <th scope="col" style="width:30%">Number of hours</th>
                <th scope="col" style="width:5%"></th>
            </tr>
          </thead>
            <tbody>
            {% for hour in hours %}
                {% if hour.user_id == user.id %}
                    <tr>
                        <td>{{ hour.project_shortcut }}</td>
                        <td>{{ hour.work_date }}</td>
                        <td>{{ hour.amount }}</td>
                        <td>
                          <div class="d-flex justify-content-center">
                            <a href="/delete-hour/{{hour.id}}" style="border: none; background-color: transparent;">
                                <i class="fas fa-minus-circle text-danger"></i>
                            </a>
                          </div>
                      </td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}