{% extends 'base.html' %}
{% block title %}Update hours{% endblock %}

{% block content %}

    <h2 class="text-center text-uppercase">Update hours</h2>

    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <div class="col-md-10 offset-md-1 my-4">
                <form method="POST" class="was-validated mt-4">
                    <div class="row mb-3">
                            {{ form.amount.label(for="amount", class_="col-sm-4 col-form-label") }}
                            <div class="col-sm-8">
                            {{ form.amount(class_="form-control", id="amount", required="required", placeholder="e.g. 5") }}
                            <div class="invalid-feedback">
                                This field must be filled!
                            </div>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        {{ form.work_date.label(for="work-date", class_="col-sm-4 col-form-label") }}
                        <div class="col-sm-8">
                            {{ form.work_date(class_="form-control", id="work-date", value=data) }}
                            <small class="form-text text-muted">If it is empty, the current date will be saved. </small>
                        </div>
                    </div>
                    <div class="row mb-3">
                        {{ form.shortcut.label(for="shortcut", class_="col-sm-4 col-form-label") }}
                        <div class="col-sm-8">
                            {{ form.shortcut(class_="form-control", id="shortcut") }}
                        </div>
                    </div>
                    {{ form.confirm_button(class_="btn btn-success float-end mb-2 text-uppercase") }}
                </form>
            </div>
        </li>
    </ul>
{% endblock %}