{% extends 'base.html' %}
{% block title %}Add hours{% endblock %}

{% block content %}
<br>
<form method="POST" class="was-validated" action="{{ url_for('views.hours') }}">
    <h2 align="center">Add hours</h2>
    <div class="form-group">
        <label for="amount">Work hours</label>
        <input type="text" class="form-control" id="amount" name="amount" placeholder="Enter the number of hours" required>
        <div class="invalid-feedback">
            This field must be filled!
        </div>
        <div class="valid-feedback">
            Looks good!
        </div>
    </div>
    <div class="form-group">
        <label for="work-date">Date of work</label>
        <input type="text" class="form-control" id="work-date" name="work-date" placeholder="Enter the date of work" required>
        <small class="form-text text-muted">Format of date is YYYY-MM-DD. If it is empty, the current date will be saved. </small>
        <div class="invalid-feedback">
            This field must be filled!
        </div>
        <div class="valid-feedback">
            Looks good!
        </div>
    </div>
    <div class="form-group">
        <label for="shortcut" class="control-label">Project shortcut</label>
        <select id="shortcut" name="shortcut" class="form-select" aria-label="Default select example">
          <option selected>Choose project shortcut</option>
            {% for project in projects %}
            <option value="{{ project['shortcut'] }}">{{ project['shortcut'] }}</option>
            {% endfor %}
        </select>
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Confirm</button>
</form>

<div class="hours-list">
    <h3 align="center">List of hours</h3>
    <br>
    <table class="table table-primary table-hover table-bordered">
      <thead class="thead-dark">
        <tr>
          <th class="border border-dark" scope="col">Number of hours</th>
          <th class="border border-dark" scope="col">Date</th>
          <th class="border border-dark" scope="col">Project shortcut</th>
        </tr>
      </thead>
        <tbody>
    {% for result in results %}
        {% if result.user_id == user.id %}
        <tr>
          <td class="border border-white">{{ result.amount }}</td>
          <td class="border border-white">{{ result.work_date }}</td>
          <td class="border border-white">{{ result.project_shortcut }}</td>
        </tr>
        {% endif %}
    {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}