{% extends 'base.html' %}
{% block title %}Add hours{% endblock %}

{% block content %}
<form method="POST" class="was-validated mt-4" action="{{ url_for('views.hours') }}">
    <h2 align="center">Add hours</h2>
    <div class="form-group row my-4">
        <label for="amount" class="col-sm-2 col-form-label">Work hours</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="amount" name="amount" placeholder="Enter the number of hours" required>
            <div class="invalid-feedback">
                This field must be filled!
            </div>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
    </div>
    <div class="form-group row my-4">
        <label for="work-date" class="col-sm-2 col-form-label">Date of work</label>
        <div class="col-sm-10">
            {{ form.csrf_token }}
            {{ form.work_date(class_="form-control", id="work-date") }}
            <input type="text" class="form-control" id="work-date" name="work-date" placeholder="Enter the date of work">
        </div>
    </div>
    <div class="form-group row my-4">
        <label for="shortcut" class="col-sm-2 control-label" class="col-form-label">Project shortcut</label>
        <div class="col-sm-10">
            <select id="shortcut" name="shortcut" class="form-select" aria-label="Default select example">
              <option selected>Choose project shortcut</option>
                {% for project in projects %}
                <option value="{{ project['shortcut'] }}">{{ project['shortcut'] }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Confirm</button>
</form>

<div class="hours-list">
    <h3 align="center" class="my-4">List of hours</h3>
    <table class="table table-primary table-hover table-bordered">
      <thead class="thead-dark">
        <tr>
          <th class="border border-dark" scope="col" style="width:15%">Number of hours</th>
          <th class="border border-dark" scope="col" style="width:40%">Date</th>
          <th class="border border-dark" scope="col" style="width:40%">Project shortcut</th>
          <th class="border border-dark" scope="col" style="width:5%"></th>
        </tr>
      </thead>
        <tbody>
    {% for result in results %}
        {% if result.user_id == user.id %}
        <tr>
          <td class="border border-white">{{ result.amount }}</td>
          <td class="border border-white">{{ result.work_date }}</td>
          <td class="border border-white">{{ result.project_shortcut }}</td>
          <td class="border border-white">
                <button type="button" class="close text-danger" onClick="deleteHour({{ result.id }})">
                <span aria-hidden="true" class="text-center">&times;</span>
                </button>
          </td>
        </tr>
        {% endif %}
    {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}