{% extends 'base.html' %}
{% block title %}Login{% endblock %}

{% block content %}
<div class="container">
    <h2 class="mt-4 text-center">Login</h2>
    <form id="loginForm" class="was-validated my-5" method="POST" action="" role="form">
        {{ form.hidden_tag() }}
        <div class="form-row">
            <div class="form-group col-md-4">
                {{ render_field(form.username.label, for="login") }}
                {{ render_field(form.username, class_="form-control", id="login", required="required", placeholder="Username") }}
                <div class="invalid-feedback">
                    This field must be filled!
                </div>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="form-group col-md-4">
                {{ render_field(form.password.label, for="password") }}
                {{ render_field(form.password, class_="form-control", id="password", required="required", placeholder="Password") }}
                <div class="invalid-feedback">
                    This field must be filled!
                </div>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
        </div>
        {{ render_field(form.submit, class_="btn btn-primary") }}
    </form>
</div>
{% endblock %}