{% extends 'base.html' %}
{% block title %}Overtime{% endblock %}

{% block content %}

    <h2 class="text-center text-uppercase">Overtime</h2>

    <div class="col-md-10 offset-md-1 my-5">
        <ul class="list-group-flush">
            <li class="list-group-item d-flex justify-content-between align-items-center">
                The number of overtime
                <span class="badge bg-dark rounded-pill">{{ overtime }}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                The number of working hours
                <span class="badge bg-success rounded-pill">{{ working_hours }}</span>
            </li>
        </ul>
    </div>

    <div class="col-md-10 offset-md-1 my-5">
        <table class="table table-striped caption-top table-light table-bordered">
          <caption class="text-uppercase">List of working hours in each day</caption>
          <thead class="table-dark">
            <tr>
              <th scope="col" style="width:60%">Date</th>
              <th scope="col" style="width:40%">Number of hours</th>
            </tr>
          </thead>
            <tbody>
            {% for work_day, hour in work_days.items() %}
            <tr>
              <td>{{ work_day}}</td>
              <td>{{ hour }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="col-md-10 offset-md-1 my-5">
        <table class="table table-striped caption-top table-light table-bordered">
          <caption class="text-uppercase">List of overtime in each day</caption>
          <thead class="table-dark">
            <tr>
              <th scope="col" style="width:60%">Date</th>
              <th scope="col" style="width:40%">Number of overtime</th>
            </tr>
          </thead>
            <tbody>
            {% for date, hours in overtime_list.items() %}
            <tr>
              <td>{{ date }}</td>
              <td>{{ hours }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}