{% extends 'base.html' %}
{% block title %}Overtime{% endblock %}

{% block content %}
<div class="container">
    <h3>Overtime</h3>
    <div class="form-group">
        <label for="overtime">The number of overtime</label>
        <input type="number" class="form-control" id="overtime" name="overtime" value="{{ overtime }}" disabled>
    </div>

    <div class="work-day-list">
    <h3 align="center" class="my-4">List of working hours in each day</h3>
    <table class="table table-primary table-hover table-bordered">
      <thead class="thead-dark">
        <tr>
          <th class="border border-dark" scope="col" style="width:60%">Date</th>
          <th class="border border-dark" scope="col" style="width:40%">Number of hours</th>
        </tr>
      </thead>
        <tbody>
    {% for work_day, hour in work_days.items() %}
        <tr>
          <td class="border border-white">{{ work_day}}</td>
          <td class="border border-white">{{ hour }}</td>
        </tr>
    {% endfor %}
        </tbody>
    </table>
    </div>



</div>
{% endblock %}