{% extends 'base.html' %}
{% block title %}Add projects{% endblock %}

{% block content %}
<br>
<form method="POST", action="{{ url_for('views.projects') }}">
    <h2 align="center">Add new project</h2>
    <div class="form-group">
        <label for="name">Project name</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="Enter a project name">
    </div>
    <div class="form-group">
        <label for="shortcut">Project shortcut</label>
        <input type="text" class="form-control" id="shortcut" name="shortcut" placeholder="Enter a project shortcut">
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Confirm</button>
</form>

<div class="project-list">
    <h3 align="center">List of projects</h3>
    <br>
    <table class="table table-primary table-striped table-bordered">
      <thead class="thead-dark">
        <tr>
          <th class="border border-dark" scope="col">#</th>
          <th class="border border-dark" scope="col">Name</th>
          <th class="border border-dark" scope="col">Shortcut</th>
          <th class="border border-dark" scope="col">Total hours</th>
        </tr>
      </thead>
        <tbody>
    {% for result in results %}
        <tr>
          <th class="border border-white" scope="row">{{ result.id }}</th>
          <td class="border border-white">{{ result.name }}</td>
          <td class="border border-white">{{ result.shortcut }}</td>
          <td class="border border-white">{{ result.sum }}</td>
        </tr>
    {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}