{% extends 'base.html' %}

{% block title %}Delete {{ project }}{% endblock %}

{% block content %}
    <div class="col-md-8 offset-md-2 my-4">
        <a href="{{ url_for('projects.list_project_view') }}"><i class="fas fa-arrow-circle-left text-danger mb-4"></i></a>
        <form method="POST" class="form-group col-md-7 mt-4">
            <h5 class="mb-4">Are you sure you want to delete {{ project }}?</h5>
            <button type="submit" name="delete" class="btn btn-danger float-end mb-2 text-uppercase">Delete</button>
        </form>
    </div>

{% endblock %}