{% extends 'base.html' %}
{% block title %}Add projects{% endblock %}

{% block content %}
<br>
<form method="POST", action="{{ url_for('views.projects') }}">
    <h2 align="center">Add new project</h2>
    <div class="form-group">
        <label for="name">Project name</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="Add a project name">
    </div>
    <div class="form-group">
        <label for="shortcut">Project shortcut</label>
        <input type="text" class="form-control" id="shortcut" name="shortcut" placeholder="Add a project shortcut">
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Confirm</button>
</form>

{% endblock %}