{% extends 'base.html' %}
{% block title %}Sign up{% endblock %}

{% block content %}
<div class="container">
    <form id="loginForm" class="form form-register" method="POST" action="" role="form">
        {{ form.hidden_tag() }}
        <div class="form-group row my-4">
            {{ render_field(form.username, class_="form-control", placeholder="Username") }}
        </div>
        <div class="form-group row my-4">
            {{ render_field(form.password, class_="form-control", placeholder="Password") }}
        </div>
        <div class="form-group row my-4">
            {{ render_field(form.confirm, class_="form-control", placeholder="Confirm password") }}
        </div>
        <div class="form-group row my-4"><input class="btn btn-primary btn-submit" type="submit" value="Confirm"></div>
    </form>
</div>
{% endblock %}