{% extends 'base.html' %}
{% block title %}Sign up{% endblock %}

{% block content %}
<div class="container">
    <form id="loginForm" class="form form-register" method="POST" action="" role="form">
        {{ form.hidden_tag() }}
        {{ render_field(form.username, placeholder="Username") }}<br>
        {{ render_field(form.password, placeholder="Password") }}<br>
        {{ render_field(form.confirm, placeholder="Confirm password") }}<br>
        <p><input class="btn btn-default btn-submit" type="submit" value="Confirm"></p>
    </form>
</div>
{% endblock %}