{% extends 'base.html' %}
{% block title %}Vacation{% endblock %}

{% block content %}

    <h2 class="text-center text-uppercase">Vacation</h2>

    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <div class="col-md-10 offset-md-1 my-4">
                <form method="POST" class="form-group was-validated mt-4">
                        <div class="row mb-3">
                            {{ form_l.seniority.label(for="seniority", class_="col-sm-4 col-form-label") }}
                            <div class="col-sm-8">
                                {{ form_l.seniority(class_="form-control", id="seniority", required="required", placeholder="Years of work") }}
                                <div class="invalid-feedback">
                                    This field must be filled!
                                </div>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            {{ form_l.position.label(for="position", class_="col-sm-4 col-form-label") }}
                            <div class="col-sm-8">
                                {{ form_l.position(class_="form-control", id="position") }}
                            </div>
                        </div>
                        <div class="row mb-3">
                            {{ form_l.school.label(for="school", class_="col-sm-4 col-form-label") }}
                            <div class="col-sm-8">
                                {{ form_l.school(class_="form-control", id="school") }}
                            </div>
                        </div>
                        <div class="row mb-3">
                                <div class="col-sm-8 offset-sm-4">
                            <div class="form-check">
                            {{ form_l.disability.label(class_="form-check-label", for="disability") }}
                            {{ form_l.disability(class_="form-check-input", id="disability") }}
                            </div>
                                    </div>
                        </div>
                    {{ form_l.submit_button(class_="btn btn-success float-end mb-2 text-uppercase", id="submit_button") }}
                </form>
            </div>
        </li>
    </ul>

    <div class="col-md-10 offset-md-1 my-5">
        <ul class="list-group-flush">
            <li class="list-group-item d-flex justify-content-between align-items-center">
                The number of vacation days in the current year
                <span class="badge bg-dark rounded-pill">{{ total_vacation_days if total_vacation_days else 0 }}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                The remaining vacation days in the current year
                <span class="badge bg-success rounded-pill">{{ rem_days_off }}</span>
            </li>
        </ul>
    </div>


    <h3 class="text-center text-uppercase mt-4">Add vacation day</h3>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <div class="col-md-10 offset-md-1 my-4">
                <form method="POST" class="form-group was-validated mt-4">
                    <div class="row mb-3">
                        {{ form_d.vacation_date.label(for="vacation_date", class_="col-sm-4 col-form-label") }}
                        <div class="col-sm-8">
                        {{ form_d.vacation_date(class_="form-control form-control-sm", id="vacation_date") }}
                        <small class="form-text text-muted">If it is empty, the current date will be saved. </small>
                            </div>
                    </div>
                    {{ form_d.confirm_button(for="vacation_date", class_="btn btn-success float-end mb-2 text-uppercase", id="confirm_button") }}
                </form>
            </div>
        </li>
    </ul>


    <div class="col-md-10 offset-md-1 my-5">
        <table class="table table-striped caption-top table-light table-bordered">
          <caption class="text-uppercase">List of vacation days</caption>
          <thead class="table-dark">
            <tr>
              <th scope="col" style="width:80%">Date</th>
              <th class="text-center" scope="col" style="width:20%">Remove</th>
            </tr>
          </thead>
            <tbody>
        {% for day in days %}
            {% if day.user_id == user.id %}
            <tr>
              <td>{{ day.vacation_date }}</td>
              <td>
                  <div class="d-flex justify-content-center">
                    <button type="button" class="close" onClick="deleteVacationDay({{ day.id }})" style="border: none; background-color: transparent;">
                        <i class="fas fa-minus-circle text-danger"></i>
                    </button>
                  </div>
              </td>
            </tr>
            {% endif %}
        {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}