{% extends 'base.html' %}
{% block title %}Vacation{% endblock %}

{% block content %}
<div class="container">
    <h3 align="center">Vacation</h3>
    <form method="post">
        {{ form_l.seniority.label }}
        {{ form_l.seniority(id="seniority") }}
        <br>
        {{ form_l.disability.label }}
        {{ form_l.disability(id="disability") }}
        <br>
        {{ form_l.school.label }}
        {{ form_l.school(id="school") }}
        <br>
        {{ form_l.position.label }}
        {{ form_l.position(id="position") }}
        <br>
        {{ form_l.submit_button(id="submit_button") }}
    </form>
    <br>
    <div class="form-group">
        <label for="vacation_d">The number of vacation days</label>
        <input type="text" class="form-control" id="vacation_d" name="vacation_d" value="{{ total_vacation_days if total_vacation_days else 0 }}" disabled>
        <label for="rem_vacation_d">The remaining vacation days</label>
        <input type="text" class="form-control" id="rem_vacation_d" name="rem_vacation_d" value="{{ rem_days_off }}" disabled>
    </div>

    <h3 align="center">Add vacation day</h3>
    <form method="post">
        {{ form_d.vacation_date.label }}
        {{ form_d.vacation_date(id="vacation_date") }}
        <br>
        {{ form_d.confirm_button(id="confirm_button") }}
    </form>


    <div class="vacation-list">
        <h3 align="center" class="my-4">List of vacation days</h3>
        <table class="table table-primary table-hover table-bordered">
          <thead class="thead-dark">
            <tr>
              <th class="border border-dark" scope="col" style="width:80%">Date</th>
              <th class="border border-dark" scope="col" style="width:20%"></th>
            </tr>
          </thead>
            <tbody>
        {% for day in days %}
            {% if day.user_id == user.id %}
            <tr>
              <td class="border border-white">{{ day.vacation_date }}</td>
              <td class="border border-white">
                  <div class="d-flex justify-content-center">
                    <button type="button" class="close text-danger" onClick="deleteVacationDay({{ day.id }})">
                        <span aria-hidden="true" class="text-center">&times;</span>
                    </button>
                  </div>
              </td>
            </tr>
            {% endif %}
        {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}