.far {
    color: #e95420;
    font-size: 80px;
}

#watch, h1 {
    font-size: 48px;
    color: #e95420;
}

#watch {
    line-height: 200px;
}

.ring {
    height: 300px;
    width: 300px;
    border: 5px solid #e95420;
    border-radius: 50%;
}

.far:active {
    color: #20e2e9;
    opacity: 0.3;
    transition: .02s;
}

.fab, .fas {
    font-size: 25px;
    color: silver;
}

.fab:hover, .fas:hover{
    color: rgb(248, 249, 250);
}

.fa-minus-circle:hover {
    opacity: 0.4;
}