.far {
    color: #007bff;
    font-size: 80px;
}

#watch, h1 {
    font-size: 48px;
    color: #007bff;
}

#watch {
    line-height: 200px;
}

.ring {
    height: 300px;
    width: 300px;
    border: 5px solid #007bff;;
    border-radius: 50%;
}

.far:active {
    color: #FFD700;
    font-size: 100px;
    transition: .02s;
}

.fab, .fas {
    font-size: 25px;
}